USE [demo_CSDL1]
GO
/****** Object:  StoredProcedure [dbo].[DATTOUR]    Script Date: 8/4/2022 11:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[DATTOUR]
	@maTour nvarchar(10),
	@maKH nvarchar(10),
	@sl int,
	@date_current DATE = NULL
AS
BEGIN
	SET @date_current = GETDATE()
	IF EXISTS (SELECT SOLUONG, NGAYXUATPHAT FROM CHITIET_TOUR CTT WHERE CTT.SOLUONG >= @sl AND CTT.NGAYXUATPHAT > @date_current AND CTT.MA_TOUR = @maTour)
		BEGIN
		INSERT INTO CHUYENDI_KH(MAKH, MA_TOUR, trangthai) VALUES (@maKH, @maTour, N'ĐANG CHỜ XÁC THỰC');
		UPDATE CHITIET_TOUR
		SET SOLUONG = SOLUONG - @sl
		WHERE CHITIET_TOUR.MA_TOUR = @maTour AND SOLUONG > @sl
		END
END
GO
/****** Object:  StoredProcedure [dbo].[TUCHOICD]    Script Date: 8/4/2022 11:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[TUCHOICD] 
	@maCD nvarchar(10),
	@maNV nvarchar(10)
AS
BEGIN
		IF NOT EXISTS( 
			SELECT CHUYENDI_KH.MCD FROM CHUYENDI_KH WHERE CHUYENDI_KH.MCD = @maCD AND CHUYENDI_KH.TRANGTHAI='HỦY CHUYẾN ĐI'
		)
			BEGIN
				UPDATE CHUYENDI_KH
				SET TRANGTHAI = 'HỦY CHUYẾN ĐI'
				WHERE CHUYENDI_KH.MCD = @maCD
				UPDATE HIEUSUAT_NV
				SET HIEUSUAT = HIEUSUAT + 1
				WHERE HIEUSUAT_NV.MANV = @maNV
				INSERT LICHSU_NV(MANV, HANHDONG, MCD)
				VALUES (@maNV, N'HỦY CHUYẾN ĐI', @maCD)
			END
END
GO
/****** Object:  StoredProcedure [dbo].[XACNHANCD]    Script Date: 8/4/2022 11:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[XACNHANCD] 
	@maCD nvarchar(20),
	@maNV nvarchar(20)
AS
BEGIN
		IF NOT EXISTS( 
			SELECT CHUYENDI_KH.MCD FROM CHUYENDI_KH WHERE CHUYENDI_KH.MCD = @maCD AND CHUYENDI_KH.TRANGTHAI='ĐÃ XÁC THỰC'
		)
			BEGIN
				UPDATE CHUYENDI_KH
				SET TRANGTHAI = 'ĐÃ XÁC THỰC'
				WHERE CHUYENDI_KH.MCD = @maCD
				UPDATE HIEUSUAT_NV
				SET HIEUSUAT = HIEUSUAT + 1
				WHERE HIEUSUAT_NV.MANV = @maNV
				INSERT LICHSU_NV(MANV, HANHDONG, MCD)
				VALUES (@maNV, N'ĐÃ XÁC THỰC', @maCD)
			END
END
GO
